<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2 class="centerize">対応済みの問合せ一覧</h2><br>
		<table class="table">
			<tbody>
				<% @inquiries.each do |inquiry| %>
				<tr>
					<td><span class="button gray">対応済</span><%= inquiry.user.name %>様</td>
					<td><%= inquiry.title %></td>
					<td><%= inquiry.created_at.strftime("%Y-%m-%d %H:%M") %></td>
					<td><%= link_to "詳細へ", admin_inquiry_path(inquiry) %></td>
				</tr>
				<% end %>
			</tbody>
		</table>

		<%= link_to "未対応のお問い合わせ", admin_inquiries_path %>
	</div>
</div>
<div class="centerize"><%= paginate @inquiries %></div>