<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2 class="centerize">未対応の問合せ一覧</h2><br>
		<table class="table">
			<tbody>
				<% @inquiries.each do |inquiry| %>
				<tr>
					<td><%= inquiry.user.name %>様</td>
					<td><%= inquiry.title %></td>
					<td><%= inquiry.created_at.strftime("%Y-%m-%d %H:%M") %></td>
					<td><%= link_to "詳細へ", admin_inquiry_path(inquiry) %></td>
				</tr>
				<% end %>
			</tbody>
		</table>

		<%= link_to "対応済みのお問い合わせ", admin_inquiries_completed_path %>
	</div>
</div>
<div class="centerize"><%= paginate @inquiries %></div>
