<% if messages.present? %>
<h4 class="centerize">メッセージ一覧（降順）</h4>
    <% messages.each do |message| %>
        <% if message.user == current_user %>
            <div class="flex current-user-chat-box ">
        <% else %>
            <div class="flex chat-box ">
        <% end %>
                <div>
                    <%= attachment_image_tag message.user, :image, :fill, 30, 30, format: "jpeg", fallback: "no_image.png", size: "30x30", class: "profile-image" %>
                </div>
                <div>
                    <% if message.user == current_user %>
                        <p class="current-user-chat-text"><%= message.content %></p>
                        <p class="current-user-chat-time">
                            <%= message.created_at.strftime("%m/%d %H:%M")%><br>
                            <%= link_to "削除", message_path(message), remote: true, method: :delete %>
                        </p>
                    <% else %>
                        <p class="chat-text"><%= message.content %></p>
                        <p class="time-text"><%= message.created_at.strftime("%m/%d %H:%M")%></p>
                    <% end %>
                </div>
            </div>
    <% end %>
<% else %>
    <h4  class="centerize">メッセージはまだありません</h4>
<% end %>