<div class="centerize">
	<div class="row">
		<h2>渡航先種別一覧</h2>
		<%= render 'layouts/errors', resource: @destination %>
		<div class="col-md-4 col-md-offset-4">
			<table class="table">
				<tbody>
					<% @destinations.each do |destination| %>
					<tr>
						<td><%= destination.place %></td>
						<td><%= link_to "編集する", edit_admin_destination_path(destination), class: "orange button" %></td>
					</tr>
					<% end %>
				</tbody>
			</table><br>

			<h4>渡航先を追加</h4>
			<%= form_with(model: @destination, local: true, url: admin_destinations_path) do |f| %>
				<%= f.text_field :place %>
				<%= f.submit "登録", class: "green button", data: { confirm: "本当に登録してよろしいですか？"} %>
			<% end %>
		</div>
	</div>
</div>