<div class="row">
  <h2 class="page-title">管理者用ログイン</h2>
  <div class="col-md-4 col-md-offset-4 centerize">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </td>
          </tr>

          <tr>
            <td>
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password" %>
            </td>
          </tr>
        </tbody>
      </table>
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
    <% end %>
  </div>
</div>