<% @entries.each do |e| %>
    <% if current_user != e.user %>
        <h2 class="page-title"><%= e.user.name %>さんとのDM</h2>
    <% end %>
<% end %>
<div class="row">
    <div class="col-md-6 col-md-offset-3">

    <%= form_with(model: @message, class: "centerize") do |f| %>
        <%= f.text_area :content, placeholder: "メッセージを入力して下さい" , size: "50x3" %>
        <%= f.hidden_field :room_id, value: @room.id %><br>
        <%= f.submit "送信する", class: "green button" %>

        <% @entries.each do |e| %>
            <% if current_user != e.user %>
                <%= link_to e.user.name + "さんのページへ", user_path(e.user), class: "blue button" %>
            <% end %>
        <% end %>

    <% end %>
    <div class="message-area">
        <%= render 'public/messages/index', messages: @messages %>
    </div>
    <div class="centerize"><%= paginate @messages %></div>

    </div>
</div>