<h2 class="page-title">"<%= @word %>"の検索結果</h2><br>
<% if @word == "" %>
	<h4 class="centerize brank-height">キーワードを入力してください。</h4>
<% elsif %>
	<% if @users.count == 0 && @albums.count == 0 %>
	<h4 class="centerize brank-height">検索条件に合致するデータがありません。キーワードを変えてみましょう。</h4>
	<% end %>
<% else %>
	<div class="flex-search">
		<% @users.each do |user| %>
			<div class="follow_<%= user.id %>">
				<%= render 'public/users/user', user: user %>
			</div>
		<% end %>

		<% @albums.each do |album| %>
			<%= link_to album_path(album), class: "album" do %>
					<%= render 'public/albums/album', album: album %>
			<% end %>
		<% end %>
	</div>
<% end %>