<h4><%= @word %>の検索結果</h4>

<% if @users.any? %>
	<table class="table">
		<tbody>
			<% @users.each do |user| %>
			<tr>
				<td>
					<%= link_to user_path(user) do %>
						<%= attachment_image_tag user, :image, size: "100x100", format: "jpeg" %>
					<% end %>
				</td>
				<% if current_user != user %>
					<% if user.followed_by?(current_user) %>
						<td><%= link_to "フォロー済み", user_relationships_path(user), method: :delete %></td>
					<% else %>
						<td><%= link_to "フォローする", user_relationships_path(user), method: :post %></td>
					<% end %>
				<% end %>
			</tr>
			<% end %>
		</tbody>
	</table>
<% end %>

<% if @albums.any? %>
	<table class="table">
		<tbody>
			<% @albums.where(range: "open").each do |album| %>
			<tr>
				<td><%= link_to album.title, album_path(album) %></td>
				<td>
					<i class="far fa-images"></i>
					<%= album.photos.count %>
				</td>
				<td>
					<i class="far fa-comment-dots"></i>
					<%= album.comments.count %>
				</td>
				<td>
					<% if album.liked_by?(current_user) %>
						<%= link_to album_likes_path(album), method: :delete do %>
						<i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
						<%= album.likes.count %>
						<% end %>
					<% else %>
						<%= link_to album_likes_path(album), method: :post do %>
						<i class="fa fa-heart-o" aria-hidden="true"></i>
						<%= album.likes.count %>
						<% end %>
					<% end %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
<% end %>