<h2 class="page-title"><%= @title %></h2>

<div class="flex">
	<div class="left-sidebar">
		<table class="table centerize gradation-destination">
			<tbody>
				<tr>
					<td><%= link_to "一覧", albums_path, class: "white-color" %></td>
				</tr>
				<% if user_signed_in? %>
				<tr>
					<td><%= link_to "フォロー", albums_path(choice: "follow"), class: "white-color" %></td>
				</tr>
				<tr>
					<td><%= link_to "いいねしたアルバム", albums_path(choice: "like"), class: "white-color" %></td>
				</tr>
				<% end %>
				<% @destinations.each do |destination| %>
					<tr>
						<td><%= link_to destination.place, albums_path(destination_id: destination.id), class: "white-color" %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>

	<div class="albums-box">
		<% @albums.each do |album| %>
			<%= link_to album_path(album), class: "album" do %>
				<%= render 'public/albums/album', album: album %>
			<% end %>
		<% end %>
	</div>
</div>
<div class="centerize"><%= paginate @albums %></div>