<h2 class="page-title"><%= @title %></h2>

<div class="flex">

	<div class="profile-box">
		<table class="table">
			<tbody>
				<tr>
					<td><%= link_to "全体のランキング", albums_ranking_path %></td>
				</tr>
				<% @destinations.each do |destination| %>
				<tr>
					<td><%= link_to destination.place, albums_ranking_path(destination_id: destination.id) %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>

	<div class="album-box">
		<% @albums.each.with_index(1) do |album, i| %>
			<h4 class="rank-number"><%= i %>位</h4>
			<%= render 'public/albums/album', album: album %>
		<% end %>
	</div>
</div>