<h2 class="page-title"><%= @title %></h2>

<div class="flex">
	<div class="left-sidebar">
		<table class="table centerize">
			<tbody>
				<tr>
					<td><%= link_to "全体のランキング", albums_ranking_path %></td>
				</tr>
				<% @destinations.each do |destination| %>
				<tr>
					<td><%= link_to destination.place, albums_ranking_path(destination_id: destination.id) %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>

	<div class="albums-box">
		<% @ranked_albums.each.with_index(1) do |album, i| %>
			<%= link_to album_path(album), class: "album" do %>
				<%= render 'public/albums/album', album: album %>
				<span class="rank-icon"><%= i %>位</span>
			<% end %>
		<% end %>
	</div>
</div>