<h2 class="page-title"><%= @album.title %></h2>

<div class="album_<%= @album.id %>">
	<%= render 'public/likes/form', album: @album %>
</div>

<div class="flex">
	<div class="profile-box">
		<table class="table">
			<tr>
				<td colspan="2">
					<%= link_to user_path(@user) do %>
						<%= attachment_image_tag @user, :image, :fill, 50, 50, format: "jpeg", fallback: "no_image.png", size: "50x50", class: "profile-image" %><br>
						<%= @album.user.name %>
					<% end %>
				</td>
			</tr>
			<tr>
				<td colspan="2"><%= @album.discription %></td>
			</tr>
			<tr>
				<td>渡航先</td>
				<td><%= @album.destination.place %></td>
			</tr>
			<tr>
				<td>作成日</td>
				<td><%= @album.created_at.strftime('%y/%m/%d') %></td>
			</tr>
			<tr>
				<td>更新日</td>
				<td><%= @album.updated_at.strftime('%y/%m/%d') %></td>
			</tr>
			<% if current_user == @user %>
			<tr>
				<td colspan="2">
					<% if @album.range == "open" %>
						<i class="fas fa-check green-color"></i>公開中
					<% else %>
						<i class="fas fa-lock gold-color"></i>非公開
					<% end %>
				</td>
			</tr>
			<tr>
				<td colspan="2"><%= link_to "アルバムを編集", edit_album_path(@album), class: "green button" %></td>
			</tr>
			<% end %>
			<tr>
				<td colspan="2">
					<%= link_to @user.name + "さんのページへ", user_path(@user), class: "blue button" %>
				</td>
			</tr>
		</table>

		<div class="comment-area">
			<%= render 'public/comments/index', comments: @comments %>
		</div>
		<div>
			<%= render 'public/comments/form', album: @album, comment: @comment %>
		</div>
	</div>

	<div class="photo-box">
		<% @album.photos.each do |photo| %>
			<%= link_to(image_tag(attachment_url(photo, :image, :fill, 200, 200, format: "jpeg"), class: "photo"), attachment_url(photo, :image, :fill, 500, 500, format: "jpeg"), data: {lightbox: "example-set", title: photo.album.title}) %>
		<% end %>
	</div>
</div>




