<h2 class="page-title"><%= @album.title %></h2>

<% if current_user != @album.user %>
	<% if @album.liked_by?(current_user) %>
		<%= link_to album_likes_path(@album), method: :delete, class: "like-button" do %>
			<i class="fas fa-heart red-color" aria-hidden="true"></i>
			<%= @album.likes.count %>
		<% end %>
	<% else %>
		<%= link_to album_likes_path(@album), method: :post, class: "like-button" do %>
			<i class="fa fa-heart-o" aria-hidden="true"></i>
			<%= @album.likes.count %>
		<% end %>
	<% end %>
<% else %>
	<i class="fas fa-heart like-button red-color" aria-hidden="true">
		<span class="red-text"><%= @album.likes.count %></span>
	</i>
<% end %>

<div class="flex">
	<div class="profile-box">
		<table class="table">
			<tr>
				<td>
					<%= link_to user_path(@album.user) do %>
						<%= attachment_image_tag @album.user, :image, :fill, 50, 50, format: "jpeg", fallback: "no_image.png", class: "profile-image" %>
						<%= @album.user.name %>
					<% end %>
				</td>
				<td>
					<% if current_user != @album.user %>
						<% if @album.user.followed_by?(current_user) %>
							<%= link_to "フォロー済み", user_relationships_path(@album.user), method: :delete, class: "btn btn-primary" %>
						<% else %>
							<%= link_to "フォローする", user_relationships_path(@album.user), method: :post, class: "btn btn-info" %>
						<% end %>
					<% end %>
				</td>
			</tr>
			<tr>
				<td colspan="2"><%= @album.discription %></td>
			</tr>
			<tr>
				<td>渡航先</td>
				<td><%= @album.destination.place %></td>
			</tr>
			<tr>
				<td>作成日</td>
				<td><%= @album.created_at.strftime('%y/%m/%d') %></td>
			</tr>
			<tr>
				<td>更新日</td>
				<td><%= @album.updated_at.strftime('%y/%m/%d') %></td>
			</tr>
			<% if current_user == @album.user %>
			<tr>
				<td colspan="2">
					<% if @album.range == "open" %>
						<i class="fas fa-check green-color"></i>公開中
					<% else %>
						<i class="fas fa-lock gold-color"></i>非公開
					<% end %>
				</td>
			</tr>
			<tr>
				<td colspan="2"><%= link_to "アルバムを編集", edit_album_path(@album), class: "green button" %></td>
			</tr>
			<% end %>
		</table>

		<%= render 'public/comments/index', album: @album, comment: @comment %>
	</div>

	<div class="photo-box">
		<% @album.photos.each do |photo| %>
			<%= attachment_image_tag photo, :image, :fill, 200, 200, format: "jpeg", class: "photo" %>
		<% end %>
	</div>
</div>




