<div class="row">
	<div class="col-xs-4 col-xs-offset-4">
		<h4>入力内容確認</h4>
		<%= form_with(model: @inquiry, local: true, url: inquiries_path) do |f| %>
		<table class="table">
			<tbody>
				<tr>
					<td>
						件名<br>
						<%= @inquiry.title %>
					</td>
				</tr>
				<tr>
					<td>
						お問い合わせ内容<br>
						<%= @inquiry.content %>
					</td>
				</tr>
				<tr>
					<td>
						<%= f.hidden_field :title, value: @inquiry.title %>
						<%= f.hidden_field :content, value: @inquiry.content %>
						<%= f.submit "入力画面へ戻る", name: 'back', class: "green button" %>
					</td>
				</tr>
				<tr>
					<td><%= f.submit "送信する", class: "green button" %></td>
				</tr>
			</tbody>
		</table>
		<% end %>
	</div>
</div>