<div class="row">
	<div class="col-xs-4 col-xs-offset-4 centerize">
		<h4>お問い合わせフォーム</h4>
		<%= render 'layouts/errors', resource: @inquiry %>
		<%= form_with(model: @inquiry, local: true, url: inquiries_confirm_path) do |f| %>
			<table class="table">
				<tbody>
					<tr>
						<td><%= f.text_field :title, placeholder: "件名", size: "50" %></td>
					</tr>
					<tr>
						<td><%= f.text_area :content, placeholder: "お問い合わせ内容をご入力ください", size: "50x10" %></td>
					</tr>
					<tr>
						<td><%= f.submit "確認画面へ", class: "green button" %></td>
					</tr>
				</tbody>
			</table>
		<% end %>
	</div>
</div>