<div class="row">
  <div class="col-md-4 col-md-offset-4">

  <h2>ログイン</h2>

  <%= flash[:error] %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <table class="table">
      <tbody>

        <tr>
          <td><%= f.label :メールアドレス %></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>

        <tr>
          <td>
              <%= f.label :パスワード %>
          </td>
          <td><%= f.password_field :password, autocomplete: "current-password" %></td>
        </tr>

        <tr>
          <td colspan="2"><%= f.submit "ログイン", class: "green button" %></td>
        </tr>
      </tbody>
    </table>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :情報を保存する %>
      </div>
    <% end %>

    <p><%= link_to "パスワードを忘れた方はこちら", new_user_password_path %></p>

  <% end %>

  <%= link_to user_facebook_omniauth_authorize_path, class: "blue button" do %>
    <i class="fab fa-facebook"></i>
    <span>FACEBOOKでログイン</span>
  <% end %>
  <%= link_to user_google_oauth2_omniauth_authorize_path, class: "orange button" do %>
    <i class="fab fa-google"></i>
    <span>Googleでログイン</span>
  <% end %>

  </div>
</div>
