<div class="left-sidebar">
	<table class="table centerize">
		<tbody>
			<tr>
				<td colspan="2">
					<%= link_to user_path(user) do %>
						<%= attachment_image_tag user, :image, :fill, 100, 100, format: "jpeg", fallback: "no_image.png", size: "100x100", class: "profile-image" %>
					<% end %>
				</td>
			<tr>
			</tr>
				<td colspan="2">
					<%= link_to user_path(user) do %>
						<%= user.name %>
						<% if user.is_active != true %>
							<span class="gray button">退会済み</span>
						<% else %>
							<i class="fas fa-book"></i> <%= user.albums.count %>件
						<% end %>
					<% end %>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<%= user.introduction %>
					<% if user.introduction.nil? %>
						自己紹介がありません
					<% end %>
				</td>
			</tr>
			<tr>
				<td>
					<%= link_to follows_user_path(user) do %>
						フォロー：<%= user.followings.count %>
					<% end %>
				</td>
				<td>
					<%= link_to followers_user_path(user) do %>
						フォロワー：<%= user.followers.count %>
					<% end %>
				</td>
			</tr>
			<% if user == current_user %>
				<tr>
					<td colspan="2">
						<%= link_to "ユーザー情報を編集", edit_user_path(user), class: "green button" %>
					</td>
				</tr>
			<% else %>
				<tr>
					<td colspan="2">
						<%= render 'public/relationships/form', user: user %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>