<div class="row">
	<h2 class="page-title">会員情報編集</h2>
	<div class="col-md-4 col-md-offset-4">
	<h4 class="centerize">プロフィール変更</h4>
	<%= render 'layouts/errors', resource: @user %>
	<%= form_with(model: @user, url:user_path) do |f| %>
		<table class="table">
			<tbody>
				<tr>
					<td><%= f.label :画像 %></td>
					<td>
						<%= attachment_image_tag @user, :image, :fill, 100, 100, format: "jpeg", fallback: "no_image.png", size: "100x100", class: "profile-image" %><br>
						<%= f.attachment_field :image, placeholder: "画像" %>
					</td>
				</tr>
				<tr>
					<td><%= f.label :ユーザー名 %></td>
					<td><%= f.text_field :name, size: "30" %></td>
				</tr>
				<tr>
					<td><%= f.label :自己紹介 %></td>
					<td><%= f.text_area :introduction, size: "40x5" %></td>
				</tr>
				<tr>
					<td><%= f.label :メールアドレス %></td>
					<td><%= f.text_field :email, size: "30" %></td>
				</t>
				<tr>
					<td colspan="2"><%= f.submit "更新", class: "green button centerize" %></td>
				</tr>
			</tbody>
		</table>
	<% end %>
	<% if @user.id == 4 %>
		<p class="gray button">テストユーザーのため、退会・パスワードの変更はできません。</p>
	<% else %>
		<p><%= link_to "パスワードの変更はこちら", edit_user_registration_path, class: "blue button" %></p><br>
		<p><%= link_to "退会はこちら", users_unsubscribe_path, class: "gray button" %></p>
	<% end %>
	</div>
</div>
