<% if @user == current_user %>
	<%= link_to "+", new_album_path, class: "new-button" %>
<% end %>

<h2 class="page-title"><%= @user.name %>さんのページ</h2>

<div class=flex>
	<div class="porfile-box">
		<div class="follow_<%= @user.id %>">
			<%= render 'public/users/user', user: @user %>
		</div>
		<div class="chat-button">
			<% if @user != current_user && @user.is_active == true && user_signed_in? %>
				<% if @isRoom == true %>
					<%= link_to "チャットへ", room_path(@roomId),class: "orange button" %>
				<% else %>
					<%= form_for @room do |f| %>
						<%= fields_for @entry do |e| %>
					 		<%= e.hidden_field :user_id, value: @user.id %>
					 	<% end %>
					 	<%= f.submit "チャットへ", class: "orange button" %>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>

	<div class="albums-box">
		<% unless @albums.any? %>
			<h3 class="centerize">投稿がありません</h3>
		<% end %>
		<% @albums.each do |album| %>
			<%= link_to album_path(album), class: "album" do %>
				<%= render 'public/albums/album', album: album %>
			<% end %>
		<% end %>
	</div>
</div>