<%= link_to "+", new_album_path, class: "new-button" %>

<h2 class="page-title"><%= @user.name %>さんのページ</h2>

<div class=flex>
	<div class="follow_<%= @user.id %>">
			<%= render 'public/users/user', user: @user %>
		</div>

	<div class="album-box">
		<% @albums.each do |album| %>
			<%= render 'public/albums/album', album: album %>
		<% end %>
	</div>
</div>