<header>
	<nav class="navbar navbar-fixtd-top">
		<%= link_to "logo", root_path, class: "logo" %>
		<ul class="navbar navbar-right">
			<% if admin_signed_in? %>
				<li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
			<% elsif user_signed_in? %>
				<li><%= link_to "マイページ", user_path(current_user) %></li>
				<li><%= link_to "アルバム一覧", albums_path %></li>
				<li><%= link_to "ランキング", albums_ranking_path %></li>
				<li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
			<% else %>
				<li><%= link_to "新規登録", new_user_registration_path %></li>
				<li><%= link_to "ログイン", new_user_session_path %></li>
				<li><%= link_to "アルバム一覧", albums_path %></li>
				<li><%= link_to "ランキング", albums_ranking_path %></li>
			<% end %>
		</ul>
		<div class="search-form">
			<%= form_tag(searches_path, method: :get) do %>
				<%= text_field_tag(:word) %>
				<%= submit_tag '検索' %>
			<% end %>
		</div>
	</nav>
</header>
