<!DOCTYPE html>
<html>
  <head>
    <title>TravelManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/e70785c6c9.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <%= notice %>
    <%= yield %>
    <div class="container"></div>

    <%= render 'layouts/footer' %>
  </body>
</html>
